global:
    daily_data_dirs: True
    default_data_dir: 'C:\\Files\\' ##TODO need to find correct path

gui:
    time_series_gui:
        module.Class: 'time_series.time_series_gui.TimeSeriesGui'
        options:
            use_antialias: True  # optional, set to False if you encounter performance issues
        connect:
            _time_series_logic_con: time_series_reader_logic

    scanner_gui:
        module.Class: 'scanning.scannergui.ScannerGui'
        # options:
        #     default_position_unit_prefix: null  # optional, use unit prefix characters, e.g. 'u' or 'n'
        #     min_crosshair_size_fraction: 0.02   # minimum crosshair size as fraction of the displayed scan range
        connect:
            scanning_logic: scanning_probe_logic
            data_logic: scanning_data_logic
            optimize_logic: scanning_optimize_logic

logic:
    time_series_reader_logic:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        options:
            max_frame_rate: 20  # optional (default: 20Hz)
            # channel_buffer_size: 1048576  # optional (default: 1MSample)
            # max_raw_data_bytes: 1073741824  # optional (default: 1GB)
        connect:
            streamer: ni_instreamer

    scanning_probe_logic:
        module.Class: 'scanning_probe_logic.ScanningProbeLogic'
        options:
            max_history_length: 20
            max_scan_update_interval: 2
            position_update_interval: 1
        connect:
            scanner: ni_scanner

    scanning_data_logic:
        module.Class: 'scanning_data_logic.ScanningDataLogic'
        options:
            max_history_length: 20
        connect:
            scan_logic: scanning_probe_logic

    scanning_optimize_logic:
        module.Class: 'scanning_optimize_logic.ScanningOptimizeLogic'
        connect:
            scan_logic: scanning_probe_logic

hardware:
    ni_scanner:
        module.Class: 'interfuse.ni_scanning_probe_interfuse.NiScanningProbeInterfuse'
        connect:
            scan_hardware: 'ni_io'
            analog_output: 'ni_ao'
        options:  
            ni_channel_mapping:
                x: 'ao0'
                y: 'ao1'
                fluorescence: 'PFI7'
            position_ranges: # in m
                x: [-100e-6, 100e-6] #0 at centre makes easier conversion between galvo voltage and position
                y: [-100e-6, 100e-6]
            frequency_ranges:
                x: [1,1000] 
                y: [1, 1000]
            resolution_ranges:
                x: [0, 1000]
                y: [0, 1000]
            input_channel_units:
                fluorescence: 'c/s'
            backwards_line_resolution: 50 # optional
            maximum_move_velocity: 400e-6 #m/s
            
    ni_io:
        module.Class: 'ni_x_series.ni_x_series_finite_sampling_io.NIXSeriesFiniteSamplingIO'
        options:
            device_name: 'Dev1'
            input_channel_units:  # optional
                PFI7: 'c/s'
            output_channel_units:
                'ao0': 'V'
                'ao1': 'V'
            output_voltage_ranges:
                ao0: [-9.5,9.5] # +/-9.5 is limit for AO0, seems to lock up above that. Keeping as limit for all to keep square
                ao1: [-9.5,9.5]
            frame_size_limits: [1, 1e9]  # optional #TODO actual HW constraint?
            output_mode: 'JUMP_LIST' #'JUMP_LIST' # optional, must be name of SamplingOutputMode
            read_write_timeout: 10  # optional
            #sample_clock_output: '/Dev1/PFI11' # optional

    ni_ao:
        module.Class: 'ni_x_series.ni_x_series_analog_output.NIXSeriesAnalogOutput'
        options:
            device_name: 'Dev1'
            channels:
                ao0:
                    limits: [-9.5,9.5] # +/-9.5 is limit for AO0, seems to lock up above that. Keeping as limit for all to keep square
                    keep_value: True
                ao1:
                    limits: [-9.5,9.5]
                    keep_value: True

    
    # optional, for slow counter / timer series reader
    ni_instreamer:
        module.Class: 'ni_x_series.ni_x_series_in_streamer.NIXSeriesInStreamer'
        options:
            device_name: 'Dev1'
            digital_sources:
                - 'PFI7'
            max_channel_samples_buffer: 10000000  # optional
            read_write_timeout: 10  # optional