global:
    daily_data_dirs: True
    default_data_dir: 'B:\\Mitchell_de_Vries\\QUDI\\Qudi_output\\'
    
gui:
    APD:
        module.Class: 'time_series.time_series_gui.TimeSeriesGui'
        options:
            use_antialias: True  # optional, set to False if you encounter performance issues
        connect:
            _time_series_logic_con: time_series_reader_logic

    Confocal:
        module.Class: 'scanning.scannergui.ScannerGui'
        options:
        #     default_position_unit_prefix: null  # optional, use unit prefix characters, e.g. 'u' or 'n'
            min_crosshair_size_fraction: 0.02   # minimum crosshair size as fraction of the displayed scan range
        connect:
            scanning_logic: scanning_probe_logic
            data_logic: scanning_data_logic
            optimize_logic: scanning_optimize_logic
    
    ODMR:
        module.Class: 'odmr.odmrgui.OdmrGui'
        connect:
            odmr_logic: 'odmr_logic'

    Laser:
        module.Class: 'laser.laser_gui.LaserGui'
        connect:
            laser_logic: laser_logic

logic:
    laser_logic:
        module.Class: 'laser_logic.LaserLogic'
        options:
            query_interval: 0.1
        connect:
            laser: ni_io

    time_series_reader_logic:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        options:
            max_frame_rate: 20  # optional (default: 20Hz)
            # channel_buffer_size: 1048576  # optional (default: 1MSample)
            # max_raw_data_bytes: 1073741824  # optional (default: 1GB)
        connect:
            streamer: ni_instreamer

    scanning_probe_logic:
        module.Class: 'scanning_probe_logic.ScanningProbeLogic'
        options:
            max_history_length: 20
            max_scan_update_interval: 2
            position_update_interval: 1
        connect:
            scanner: ni_scanner

    scanning_data_logic:
        module.Class: 'scanning_data_logic.ScanningDataLogic'
        options:
            max_history_length: 20
        connect:
            scan_logic: scanning_probe_logic

    scanning_optimize_logic:
        module.Class: 'scanning_optimize_logic.ScanningOptimizeLogic'
        connect:
            scan_logic: scanning_probe_logic

    odmr_logic:
        module.Class: 'odmr_logic.OdmrLogic'
        connect:
            microwave: mw_source_synthhd
            data_scanner: ni_odmr
        options:
            default_scan_mode: 'EQUIDISTANT_SWEEP'  # optional

hardware:
    ni_scanner:
        module.Class: 'interfuse.ni_scanning_probe_interfuse.NiScanningProbeInterfuse'
        connect:
            scan_hardware: 'ni_io'
            analog_output: 'ni_ao'
        options:  
            ni_channel_mapping:
                x: 'ao0'
                y: 'ao1'
                fluorescence: 'PFI7'
            position_ranges: # in m
                x: [-785e-6, 785e-6] #0 at centre makes easier conversion between galvo voltage and position
                y: [-785e-6, 785e-6]
            frequency_ranges:
                x: [1,1000] 
                y: [1, 1000]
            resolution_ranges:
                x: [0, 1000]
                y: [0, 1000]
            input_channel_units:
                fluorescence: 'c/s'
            backwards_line_resolution: 50 # optional
            maximum_move_velocity: 400e-6 #m/s
            
    ni_io:
        module.Class: 'ni_x_series.ni_x_series_finite_sampling_io.NIXSeriesFiniteSamplingIO'
        options:
            device_name: 'Dev1'
            input_channel_units:  # optional
                PFI7: 'c/s'
            output_channel_units:
                'ao0': 'V'
                'ao1': 'V'
            digital_output_lines: # specify used digital output lines - port0 supported only
                - 'port0/line3'
            output_voltage_ranges:
                ao0: [-9.5,9.5] # +/-9.5 is limit for AO0, seems to lock up above that. Keeping as limit for all to keep square
                ao1: [-9.5,9.5]
            frame_size_limits: [1, 1e9]  # optional #TODO actual HW constraint?
            # output_mode: 'JUMP_LIST' #'JUMP_LIST' # optional, must be name of SamplingOutputMode
            read_write_timeout: 10  # optional
            #sample_clock_output: '/Dev1/PFI11' # optional

    ni_ao:
        module.Class: 'ni_x_series.ni_x_series_analog_output.NIXSeriesAnalogOutput'
        options:
            device_name: 'Dev1'
            channels:
                ao0:
                    limits: [-9.5,9.5] # +/-9.5 is limit for AO0, seems to lock up above that. Keeping as limit for all to keep square
                    keep_value: True
                ao1:
                    limits: [-9.5,9.5]
                    keep_value: True

    ni_odmr:
        module.Class: 'ni_x_series.ni_x_series_finite_sampling_input.NIXSeriesFiniteSamplingInput'
        options:
            device_name: 'Dev1'
            digital_channel_units:  # optional
                'PFI7': 'c/s'

    ni_laser:
        module.Class: 'ni_x_series.ni_x_series_finite_sampling_io.NIXSeriesFiniteSamplingIO'
        options:
            device_name: 'Dev1'
            input_channel_units:
            output_channel_units:
            digital_output_lines: # specify used digital output lines - port0 supported only
                - 'port1/line3'
            read_write_timeout: 10  # optional

    # optional, for slow counter / timer series reader
    ni_instreamer:
        module.Class: 'ni_x_series.ni_x_series_in_streamer.NIXSeriesInStreamer'
        options:
            device_name: 'Dev1'
            digital_sources:
                - 'PFI7'
            max_channel_samples_buffer: 10000000  # optional
            read_write_timeout: 10  # optional

    mw_source_synthhd:
        module.Class: 'microwave.mw_source_windfreak_synthhdpro.MicrowaveSynthHDPro'
        options:
            serial_port: 'COM3'
            comm_timeout: 10  # in seconds
            output_channel: 0  # either 0 or 1